<div id="game-board">
  <div class='tile on'></div>
  <div class='tile on'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile on'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
  <div class='tile off'></div>
</div>

