<div class="container">
  <h2>Welcome <%= current_user.username %></h2>
</div>
  <div class="container">
    <div id="profile">
      <% 1.upto(25) do |level| %>
        <% if @completed[level] %>
          <div class="tile on"><%= level %></div>
        <% else %>
          <div class="tile off"><%= level %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>