#game-box {
  background-color: black;
  border: 5px solid gray;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

#profile {
  background-color: black;
  border: 5px solid gray;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.tile {
  border: 1px solid blue;
  position: relative;
  float: left;
  width: 98px;
  height: 98px;  
  text-align: center;
  font-size: 80px;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
  padding: 40px 0;
  width: 700px;
  margin: 0 auto;
  border: 2px solid gray;
}